<main class="container-xxl p-0 main-welcome">
    <section class="d-flex justify-content-end mb-3 section-btn">
        <div class="border rounded theme">
            <app-mode-toggle></app-mode-toggle>
        </div>
    </section>
    <section class="d-flex flex-column
        flex-md-row align-items-md-center justify-content-evenly px-3 welcome">
        <section class="p-3 mb-5 mb-md-0 rounded-3 card-welcome">
            <h1 class="text-center mb-3 fs-2">¡Bienvenido!</h1>
            <!-- <br> a TalentCv -->
            <figure class="d-flex justify-content-center">
                <img width="70%" height="70%" class="rounded-3" src="../../../assets/img/img-welcome.png" alt="welcome">
            </figure>
        </section>
    
        <section class="p-3 rounded-3 module">
            <h1 class="text-center mb-3 fs-2">Genera tu cv en minutos</h1>
            <button class="btn btn-primary w-100 mb-3" type="button" (click)="redirectRegister()">Registrarse</button>
            <button class="btn btn-primary w-100" type="button"  (click)="redirect()">Acceder</button>
        </section> 
    </section> 
</main>