<main class="min-vh-100 container-xxl p-0 d-flex">
    <app-aside></app-aside>
    <section class="submain px-3 px-lg-5">
        <article class="d-flex pt-2 pb-2 justify-content-end d-md-none d-block">
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#aside-main" aria-controls="aside-main">
                <img width="30px" src="../assets/img/icon-menu.svg" alt="navbar">
            </button>
        </article>
        <router-outlet></router-outlet>
        <!-- <footer class="col-xxl-12 col-xl-12 mt-5">
            no tengo idea de lo que voy aponer aquí (footer)
        </footer> -->
    </section>
</main>

