<!-- Inicia Modal -->
<!-- [formGroup]="formAbout" (ngSubmit)="guardar()" -->
<form>
    <!-- formControlName="countrie" -->
    <div class="mb-3">
        <ngx-select-dropdown class="ng-select" [config]="configCountrie" [options]="countries"
            (change)="onCountrieChange($event)" [multiple]="false">
        <!-- [(ngModel)]="selectedCountry($event)" -->
        </ngx-select-dropdown>
    </div>
    <div class="mb-3">
        <ngx-select-dropdown class="ng-select" [config]="configState" [options]="states"
            (change)="onStateChange($event)" [multiple]="false">
            <!-- [(ngModel)]="selectedCountry($event)" -->
        </ngx-select-dropdown>
    </div>
    <div class="mb-3">
        <ngx-select-dropdown class="ng-select" [config]="configCity" [options]="cities"
            (change)="onCityChange($event)" [multiple]="false">
            <!-- [(ngModel)]="selectedCountry($event)" -->
        </ngx-select-dropdown>
    </div>

    <!-- <div class="col-12">
        <button class="btn btn-primary" type="submit">Guardar</button>
    </div> -->
</form>
            
<!--Termina Modal -->

