<!-- Inicia Inputs de ubicacion -->
<form  [formGroup]="formUbication">
    <!-- formControlName="countrie" -->
    <div class="mb-3">
        <ngx-select-dropdown class="ng-select dropdown" [config]="configCountrie" [options]="countries"
            formControlName="country" (change)="onCountrieChange($event)" [multiple]="false"> 
        </ngx-select-dropdown>
    </div>
    <div class="mb-3">
        <ngx-select-dropdown class="ng-select" [config]="configState" [options]="states"
            formControlName="state" (change)="onStateChange($event)" [multiple]="false">
        </ngx-select-dropdown>
    </div>
    <div class="mb-3">
        <ngx-select-dropdown class="ng-select" [config]="configCity" [options]="cities"
            formControlName="city" (change)="onCityChange($event)" [multiple]="false">
        </ngx-select-dropdown>
    </div>
</form>
<!--Termina Inputs de ubicacion -->

