<section class="p-3 rounded-3 module">
    <h2 class="text-center fs-2 mb-3">Registrarse</h2>
    <figure class="d-flex justify-content-center mb-4">
        <img class="TalentCv-logo" width="60px" src="../../../assets/img/logo-TalentCv.svg" alt="TalentCv">
    </figure>
    <form class="p-2" [formGroup]="formRegister" (ngSubmit)="create()">
        <div class="form-floating mb-4">
            <input type="text" class="form-control" id="nombreInput" placeholder="nombre"
                formControlName="name"
                [class.is-invalid]="invalidField('name')">
            <label for="nombreInput">Nombre</label>
           <small *ngIf="invalidField('name')" class="invalid-feedback">
                Ingresa un nombre
            </small> 
        </div>
        <div class="form-floating mb-4">
            <input type="text" class="form-control" id="apellidoInput" placeholder="apellidos"
                formControlName="last_name"
                [class.is-invalid]="invalidField('last_name')">
            <label for="apellidoInput">Apellidos</label>
            <small *ngIf="invalidField('last_name')" class="invalid-feedback">
                Ingresar apellidos
            </small> 
        </div> 
        <div class="form-floating mb-4">
            <input type="email" class="form-control" id="correoInput" placeholder="correo"
                formControlName="email"
                [class.is-invalid]="invalidField('email')">
            <label for="emailInput">Correo Electronico</label>
            <small *ngIf="invalidField('email')" class="invalid-feedback">
                Ingresa un correo valido
            </small> 
        </div>
        <div class="form-floating mb-4">
            <input type="password" class="form-control" id="passInput" placeholder="password"
                formControlName="password"
                [class.is-invalid]="invalidField('password')">
            <label for="passInput">Contraseña</label>
            <small *ngIf="invalidField('password')" class="invalid-feedback">
                Ingresa tu contraseña
            </small> 
        </div>
        <div class="form-floating mb-4">
            <input type="password" class="form-control" id="passConfInput" placeholder="password"
                formControlName="password_confirmation"
                [class.is-invalid]="passwordConfirmationValido()">
            <label for="passConfInput">Confirmar contraseña</label>
            <small *ngIf="invalidField('password_confirmation')" class="invalid-feedback">
                Ingresa la contraseña igual al anterior
            </small> 
        </div>
        <button class="btn btn-primary w-100" type="submit">Registrarse</button>
    </form> 
</section> 
