<!-- Inicia Modal -->
<section class="modal fade" id="modalContact" tabindex="-1" aria-labelledby="modalContactLabel" data-bs-backdrop="static" aria-hidden="true">
    <article class="modal-dialog modal-dialog-centered">
        <article class="modal-content">
            <header class="modal-header">
                <h1 class="modal-title fs-5" id="modalContactLabel">Datos de contacto</h1>
                <button type="button" class="btn-close"  data-bs-dismiss="modal" aria-label="Close"></button>
            </header>
            <article class="modal-body">
                <!-- [formGroup]="formCourse" (ngSubmit)="save()" -->
                <form [formGroup]="formContact" (ngSubmit)="save()">
                    <div class="form-floating mb-3" formGroupName="telefono">
                        <input type="tel" class="form-control" 
                        formControlName="phone_number" pattern="[0-9]{10}" id="telefonoInput" placeholder="Telefono">
                        <!-- formControlName="phone_number"> -->
                        <!-- [class.is-invalid]="campoNoValido('phone_number')" -->
                        <label for="telefonoInput">Telefono</label>
                        <!-- <small *ngIf="campoNoValido('course_name')" class="invalid-feedback">
                            Campo requerido
                        </small> -->
                    </div>  
                    <div class="form-floating mb-3" formGroupName="sitioweb">
                        <input type="text" class="form-control" id="sitioInput" placeholder="Sitio Web"
                        formControlName="url_links">
                        <!-- [class.is-invalid]="campoNoValido('url_links')" -->
                        <label for="sitioInput">Sitio Web</label>
                        <!-- <small *ngIf="campoNoValido('url_links')" class="invalid-feedback">
                            Campo requerido
                        </small> -->
                    </div>  
                    <div class="form-floating mb-3" formGroupName="linkedin">
                        <input type="text" class="form-control" id="linkedinInput" placeholder="Linkedin"
                        formControlName="url_linkedin">
                        <!-- [class.is-invalid]="campoNoValido('url_linkedin')" -->
                        <label for="linkedinInput">Linkedin</label>
                        <!-- <small *ngIf="campoNoValido('url_linkedin')" class="invalid-feedback">
                            Campo requerido
                        </small> -->
                    </div>  
                    <div class="form-floating mb-3" formGroupName="github">
                        <input type="text" class="form-control" id="githubInput" placeholder="Github"
                        formControlName="url_github">
                        <!-- [class.is-invalid]="campoNoValido('url_github')" -->
                        <label for="githubInput">Github</label>
                        <!-- <small *ngIf="campoNoValido('url_github')" class="invalid-feedback">
                            Campo requerido
                        </small> -->
                    </div>  
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </div> 
                </form> 
            </article>
        </article>
    </article>
</section>       
<!--Termina Modal -->
