<!-- Inicia Modal -->
<section class="modal fade" id="modalProfile" tabindex="-1" aria-labelledby="modalProfileLabel" data-bs-backdrop="static" aria-hidden="true">
    <article class="modal-dialog modal-dialog-centered">
        <article class="modal-content">
            <header class="modal-header">
                <h1 class="modal-title fs-5" id="modalProfileLabel">Perfil Profesional</h1>
                <button type="button" class="btn-close"  data-bs-dismiss="modal" aria-label="Close"></button>
            </header>
            <article class="modal-body">
                <form [formGroup]="formProfile" (ngSubmit)="guardar()">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="perfil"
                            formControlName="title"
                            [class.is-invalid]="campoNoValido('title')">
                        <label for="floatingInput">Perfil profesional*</label>
                        <small *ngIf="campoNoValido('title')" class="invalid-feedback">
                            Ingresar su especialidad
                        </small>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea type="text" class="form-control" placeholder="description" id="floatingTextarea" style="height: 150px;"
                            formControlName="description"
                            [class.is-invalid]="campoNoValido('description')"></textarea>
                        <label for="floatingTextarea">Descripción del perfil*</label>
                        <small *ngIf="campoNoValido('description')" class="invalid-feedback">
                            Ingresa una descripción
                        </small>
                    </div>
                      <div class="col-12">
                        <button class="btn btn-primary" type="submit">Guardar</button>
                      </div>
                </form>
            </article>
        </article>
    </article>
</section>       
<!--Termina Modal -->

