<header class="d-flex justify-content-center pt-3 mb-5">
  <h1 class="text-center">Formación</h1>
</header>
<article class="d-flex justify-content-center">
  <article class="w-100 rounded px-3 p-lg-4 module">
    <header class="d-flex justify-content-end">
      <!-- Button trigger modal -->
      <button type="button" class="btn icon-edit" data-bs-toggle="modal" data-bs-target="#modalFormacion">
        <img src="../../../assets/img/icon-edit.svg" alt="icon-edit">
      </button>
    </header>
    <div class="main-module pe-sm-5 mt-1">
      <div class="d-flex flex-column mb-2">
        <div name="formacion">
          <h5>Ingeniería informática</h5>
          <h6>Instituto Técnologico Superior de Zacapoaxtla</h6>
          <figure>
            <img class="icon-url filter" src="../../../assets/img/icon-calendar.svg" alt="calendar">
            <span>Agosto 2017</span> -
            <span>Mayo 2022</span>
          </figure>
        </div>
        <div name="cursos">
          <h4>Cursos</h4>
          <h5>Mastér en Css con Victor Robles Web</h5>
          <h6>Udemy</h6>
          <figure>
            <img class="icon-url filter" src="../../../assets/img/icon-calendar.svg" alt="calendar">
            <span>Enero 2023</span> -
            <span>Febrero 2023</span>
          </figure>
          <p>
            Descripcion detallada del perfil profesional del usuario. Aqui podra escribir informacion relevante 
            acerca de su carrera quien es, como se desempeña en el area, extras que considere importante mencionar.
          </p>
        </div>
      </div>
    </div>
    <app-formacion-form></app-formacion-form>
  </article>
</article>