<header class="d-flex justify-content-center pt-3 mb-5">
  <h1 class="text-center">Formación</h1>
</header>
<article class="d-flex justify-content-center">
  <article class="w-100 rounded p-3 p-lg-4 module">
    <ng-container *ngIf="validationFormation">
      <article *ngFor="let formation of formations">
        <header class="d-flex justify-content-end">
          <section class="flex-grow-1">
            <h5>{{ formation.professional_area }}</h5>
          </section>
          <section class="d-flex justify-content-end">
            <!-- Button trigger modal -->
            <button type="button" class="btn icon-edit" data-bs-toggle="modal" data-bs-target="#modalFormacion"
              (click)="viewFormation(formation.id)">
              <img src="../../../assets/img/icon-edit.svg" alt="icon-edit">
            </button>
            <button class="btn icon-edit"
              (click)="deleteFormation(formation.id)">
              <img width="22px" height="22px" src="../../../assets/img/btn-delete.svg" alt="eliminar">
            </button>
          </section>
        </header>
        <div name="formacion">
          <h6>{{ formation.university_name }}</h6>
          <figure>
            <img class="icon-url filter" src="../../../assets/img/icon-calendar.svg" alt="calendar">
            <span>{{ formation.start_date }}</span> -
            <span>{{ formation.finish_date }}</span>
          </figure>
        </div>
      </article>
    </ng-container>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modalFormacion"
      (click)="cleanFormation()">
      <img width="22px" height="22px" class="icon-size" src="../../../assets/img/icon-add.svg" alt="add">
      Formación
    </button>
    <section class="mb-3">
      <h4>Cursos</h4>
    </section>
    <ng-container *ngIf="validationCourse">
      <article *ngFor="let course of courses" name="let project of projects" class="main-module mt-1 mb-1">
        <header class="d-flex justify-content-end">
          <section class="flex-grow-1">
            <h5>{{ course.course_name }}</h5>
          </section>
          <section class="d-flex justify-content-end">
            <!-- Button trigger modal -->
            <button type="button" class="btn icon-edit" data-bs-toggle="modal" data-bs-target="#modalCourse"
              (click)="viewCourse(course.id)">
              <img src="../../../assets/img/icon-edit.svg" alt="icon-edit">
            </button>
            <button class="btn icon-edit"
              (click)="deleteCourse(course.id)">
              <img width="22px" height="22px" src="../../../assets/img/btn-delete.svg" alt="eliminar">
            </button>
          </section>
        </header>
        <div name="cursos">
          <h6>{{ course.company_training }}</h6>
          <figure>
            <img class="icon-url filter" src="../../../assets/img/icon-calendar.svg" alt="calendar">
            <span>{{ course.start_date }}</span> -
            <span>{{ course.finish_date }}</span>
          </figure>
          <p>
            Descripcion detallada del perfil profesional del usuario. Aqui podra escribir informacion relevante 
            acerca de su carrera quien es, como se desempeña en el area, extras que considere importante mencionar.
          </p>
        </div>
      </article>
    </ng-container>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modalCourse"
      (click)="cleanCourse()">
      <img width="22px" height="22px" class="icon-size" src="../../../assets/img/icon-add.svg" alt="add">
      Cursos o certificaciones
    </button>
    <app-formacion-form [dataFormation]="formation"
      (loadingFormations)="viewFormations(idProfile)"></app-formacion-form>
    <app-course-form [dataCourse]="course"
      (loadingCourses)="viewCourses()"></app-course-form>
  </article>
</article>

<article class="d-flex justify-content-between mt-3 mb-5">
  <button class="btn btn-outline-primary btn-sm" (click)="returnExperience()">
    Regresar
  </button>
  <!-- <a class="btn btn-outline-primary btn-sm" [routerLink]="['formacion']">
    Siguiente
  </a> -->
</article> 