<!-- Inicia Modal -->
<section class="modal fade" id="modalFormacion" tabindex="-1" aria-labelledby="modalFormacionLabel" aria-hidden="true">
    <article class="modal-dialog modal-dialog-centered">
        <article class="modal-content">
            <header class="modal-header">
                <h1 class="modal-title fs-5" id="modalFormacionLabel">Formación</h1>
                <button type="button" class="btn-close"  data-bs-dismiss="modal" aria-label="Close"></button>
            </header>
            <article class="modal-body">
                <form>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="institucionInput" placeholder="Institucion" required>
                        <label for="institucionInput">Institución Educativa</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="cargoInput" placeholder="Cargo" required>
                        <label for="cargoInput">Disciplina Académica</label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="status">
                        <label class="form-check-label" for="status">
                            Cursando actualmente
                        </label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="month" class="form-control" id="cargoInput" placeholder="Cargo" required>
                        <label for="cargoInput">Fecha de inicio</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="month" class="form-control" id="cargoInput" placeholder="Cargo">
                        <label for="cargoInput">Fecha de finalización</label>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </div>
                </form>
            </article>
        </article>
    </article>
</section>       
<!--Termina Modal -->
