<main class="min-vh-100 container-xxl p-0 d-flex">  
    <app-aside></app-aside>
    <section class="submain px-3 px-lg-5">
        <article class="d-flex pt-2 pb-2 justify-content-end d-lg-none d-block">
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#aside-main" aria-controls="aside-main">
                <img width="30px" src="../assets/img/icon-menu.svg" alt="navbar"> 
            </button>
        </article>
        <!-- <section class="d-flex"> -->
        <router-outlet></router-outlet>
        <!-- </section> -->
    </section>
    <section class="ms-2 position-static" style="max-width: 350px; min-width: 350px; background-color: blueviolet; display: none;">
        <h3> Parte visual de template</h3>
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Porro eum nesciunt voluptatum asperiores possimus veritatis deserunt, 
            delectus nihil cumque nisi sit aliquam beatae qui maiores voluptatem vitae earum sed necessitatibus?
        </span>
    </section> 
</main>
