<!-- Inicia Modal -->
<section class="modal fade" id="modalAbout" tabindex="-1" aria-labelledby="modalAboutLabel" aria-hidden="true">
    <article class="modal-dialog modal-dialog-centered">
        <article class="modal-content">
            <header class="modal-header">
                <h1 class="modal-title fs-5" id="modalAboutLabel">Sobre tí</h1>
                <button type="button" class="btn-close"  data-bs-dismiss="modal" aria-label="Close"></button>
            </header>
            <article class="modal-body">
                <form>
                    Aqui va ir el formulario
                </form>
            </article>
        </article>
    </article>
</section>
    
<!-- <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
</div> -->
            
<!--Termina Modal -->
