<!-- Inicia Modal -->
<section class="modal fade" id="modalExperiencia" tabindex="-1" aria-labelledby="modalExperienciaLabel" aria-hidden="true">
    <article class="modal-dialog modal-dialog-centered">
        <article class="modal-content">
            <header class="modal-header">
                <h1 class="modal-title fs-5" id="modalExperienciaLabel">Experiencia</h1>
                <button type="button" class="btn-close"  data-bs-dismiss="modal" aria-label="Close"></button>
            </header>
            <article class="modal-body">
                <form>
                    Aqui va ir el formulario
                </form>
            </article>
        </article>
    </article>
</section>       
<!--Termina Modal -->
