<section class="d-flex flex-column ps-1 pe-1 pt-3 pb-3 mt-2">
    <figure class="w-100 d-flex justify-content-center">
        <img src="../../../assets/img/icon-user.png" alt="img-profile">
    </figure>
    <h2 class="p-1 fs-5 d-none d-md-block">Candido Hernandez Martin</h2>
    <h3 class="p-1 fs-6 d-none d-md-block">Desarrollador Web</h3>
</section>
<nav>
    <ul class="nav nav-pills flex-column">
        <li class="d-flex mt-2 nav-link justify-content-md-center justify-content-lg-start">
            <a class="w-100 nav-link align-middle px-0" [routerLink]="['about']">
                <img class="bi me-2" width="30px" height="30px" src="../../../assets/img/icon-about.svg" alt="about">
                <span class="text-aside fs-6 fw-medium d-none d-lg-inline">Sobre mí</span>
            </a>
        </li>
        <li class="d-flex mt-2 nav-link justify-content-md-center justify-content-lg-start">
            <a class="w-100 nav-link align-middle px-0" [routerLink]="['experiencia']">
                <img class="bi me-2" width="30px" height="30px" src="../../../assets/img/icon-experiencia.svg" alt="experiencia">
                <span class="text-aside fs-6 fw-medium d-none d-lg-inline">Experiencia</span>
            </a>
        </li>
        <li class="d-flex mt-2 nav-link justify-content-md-center justify-content-lg-start">
            <a class="w-100 nav-link align-middle px-0" [routerLink]="['formacion']">
                <img class="bi me-2" width="30px" height="30px" src="../../../assets/img/icon-education.svg" alt="formacion">
                <span class="text-aside fs-6 fw-medium d-none d-lg-inline">Formación</span>
            </a>
        </li>
    </ul>
</nav>
<section class="d-flex justify-content-end flex-column pe-2 ps-2">
    Aqui viene lo bueno....😱😱😨😨😱😱
</section>