<header class="d-flex justify-content-center pt-3 mb-5">
  <h1 class="text-center">Sobre tí</h1>
</header>
<article class="d-flex justify-content-center">
  <article class="w-100 rounded px-3 pt-3 p-lg-4 module">
    <header class="d-flex justify-content-end">
      <!-- Button trigger modal -->
      <button type="button" class="btn icon-edit" data-bs-toggle="modal" data-bs-target="#modalAbout">
        <img src="../../../assets/img/icon-edit.svg" alt="icon-edit">
      </button>
    </header>
    <div class="main-module pe-sm-5 mt-1">
      <div class="d-flex flex-column flex-sm-row mb-2">
        <div class="d-flex justify-content-center me-5">
          <figure class="border border-secondary ms-4 ms-sm-0 fig-user">
            <img src="../../../assets/img/icon-user.png" alt="user-img"> 
          </figure>
        </div>
        <div class="d-flex flex-column w-100 mt-2 mt-sm-0" >
          <h3 class="text-center fs-4">Candido Hernandez Martin</h3>
          <h4 class="text-center fs-5">Desarrollador Web</h4>
          <ul class="d-flex flex-wrap mt-3">
            <li class="me-2 p-1 list">
              <img class="me-1 filter icon-url" src="../../../assets/img/icon-email.svg" alt="email">
              <span>correo@gmail.com</span>
            </li>
            <li class="me-2 p-1 list">
              <img class="me-1 filter icon-url" src="../../../assets/img/icon-phone.svg" alt="phone">
              <span>+52 123 456 7890</span>
            </li>
            <li class="me-2 p-1 list">
              <img class="me-1 filter icon-url" src="../../../assets/img/icon-url.svg" alt="url-portfolio">
              <span>portfolio_web.com</span>
            </li>
            <li class="me-2 p-1 list">
              <img class="me-1 filter icon-url" src="../../../assets/img/icon-linkedin.svg" alt="linkedin">
              <span>linkedin.com/in/user-profile-link/</span>
            </li>
            <li class="me-2 p-1 list">
              <img class="me-1 filter icon-url" src="../../../assets/img/icon-github.svg" alt="url-github">
              <span>github.com/User-Link</span>
            </li>
            <li class="me-2 p-1 list">
              <img class="me-1 filter icon-url" src="../../../assets/img/icon-url.svg" alt="url">
              <span>linktr.ee/user_links</span>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <p>
          Adapta tu sección de "Sobre mí" al puesto al que te postulas. Destaca las habilidades y logros que son más relevantes para el puesto.
        </p>
        <div class="mb-3">
          <h5 class="mb-3 text-left fs-4">Mis habilidades</h5>
          <span class="me-2 py-1 px-2 bg-primary rounded">HTML</span>
          <span class="me-2 py-1 px-2 bg-primary rounded">CSS</span>
          <span class="me-2 py-1 px-2 bg-primary rounded">SASS</span>
          <!-- <span class="me-2 py-1 px-2 bg-primary rounded">Angular</span>
          <span class="me-2 py-1 px-2 bg-primary rounded">Laravel</span>
          <span class="me-2 py-1 px-2 bg-primary rounded">Mysql</span> -->
          <!-- <span class="me-2 py-1 px-2 bg-primary rounded">Typescript</span>
          <span class="me-2 py-1 px-2 bg-primary rounded">Git</span>
          <span class="me-2 py-1 px-2 bg-primary rounded">Github</span>
          <span class="me-2 py-1 px-2 bg-primary rounded">React</span> -->
        </div>
      </div>
    </div>
    <app-about-form></app-about-form>
  </article>
</article>