<header class="d-flex justify-content-center pt-3 mb-5">
  <h1 class="text-center">Sobre tí</h1>
</header>
<article class="d-flex justify-content-center">
  <article class="w-100 rounded px-3 p-lg-4 module">
    <header class="d-flex justify-content-end">
      <!-- Button trigger modal -->
      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalAbout">
        <img width="30px" src="../../../assets/img/icon-edit.svg" alt="icon-edit">
      </button>
    </header>
    <div class="main-module" style="margin-top: -40px;">
      <div style="height: 130px;" class="d-flex flex-column flex-sm-row">
        <figure style="height: 120px;" class="bg-primary">
          aqui va ir una imagen
        </figure>
        <div class="d-flex flex-column bg-warning">
          <span>soy el 1</span>
          <span>soy el 2</span>
          <span>soy el 3</span>
        </div>
      </div>
      aqui va ir info
    </div>
    <app-about-form></app-about-form>
  </article>
</article>