  <header class="col-12 d-flex justify-content-center mt-2 mb-3">
    <h1 class="p-1 text-center">Sobre tí</h1>
  </header>
  <article class="col-12 p-2 d-flex justify-content-center">
    <article class="w-100 shadow-lg border border-secondary-subtle rounded p-2">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAbout">
        Click aqui
      </button>
      <app-about-form></app-about-form>
    </article>
  </article>

  <!-- Modal -->
  <!-- <div class="modal fade" id="modalP" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->