/************************** Estilos Modo Oscuro **************************/

[data-bs-theme='dark']
    aside
        nav
            ul li a
                color: white !important
                .icon
                    filter: invert(1)
        .active
            background-color: #202428 !important
            color: #1F79FA !important
            border-radius: 10px
            a
                color: #1F79FA !important
                .icon
                    filter: invert(0.4) sepia(1) hue-rotate(195deg) saturate(1000%) !important