/************************** Estilos Modo Claro **************************/
:root, [data-bs-theme='light'] 
    --bs-body-bg: #F0F5F9

//Mixin
@mixin sombreado($size)
    border: 1px solid #BFC7D1
    border-radius: 0px 15px 15px 0px
    box-shadow: -2px 2px $size 0px #BFC7D1 inset

[data-bs-theme='light'] main
    // background: violet
    .theme-card
        // background: green
        background-color: #C9D6DF
        border: 1px solid #C1CED6
        box-shadow: 0px 0px 10px 1px #C1CED6 inset  

// Estilo componentes login y register
// [data-bs-theme='light'] section .module
//     background-color: #C9D6DF
//     border: 1px solid #C1CED6
//     box-shadow: 0px 0px 10px 1px #C1CED6 inset  


[data-bs-theme='light'] .card-welcome
    @include sombreado(20px)

[data-bs-theme='light']
    aside
        nav ul li a
            color: #212529 !important

[data-bs-theme='light'] aside
    nav ul li a
        color: #212529 !important
    li:hover
        box-shadow: 0px 0px 15px 3px #C1CED6 inset
        border-radius: 10px
    .active
        box-shadow: 0px 0px 25px 3px #BFC7D1 inset
        border: 1px solid #BFC7D1
        border-radius: 10px
        a
            color: #212529
            opacity: .90
[data-bs-theme='light'] aside
    @include sombreado(6px)

[data-bs-theme='light'] .submain .ng-select
    .ngx-dropdown-container
        .ngx-dropdown-button
            background-color: #F0F5F9 
            border: 1px solid #DEE2E6
            .display-text
                color: #212529 !important
            .nsdicon-angle-down
                color: #333333
        .search-container
            input
                border-bottom: 1px solid #BCC1C5 !important
            label
                color: #242424 !important
        .ngx-dropdown-list-container
            background-color: #F0F5F9
            color: #212529 !important
            .available-items
                .available-item span
                    color: #212529