<header class="d-flex justify-content-center pt-3 mb-5">
  <h1 class="text-center">Experiencia</h1>
</header>
<article class="d-flex justify-content-center">
  <article class="w-100 rounded px-3 p-lg-4 module">
    <header class="d-flex justify-content-end">
      <!-- Button trigger modal -->
      <button type="button" class="btn icon-edit" data-bs-toggle="modal" data-bs-target="#modalExperiencia">
        <img src="../../../assets/img/icon-edit.svg" alt="icon-edit">
      </button>
    </header>
    <article class="main-module pe-sm-5 mt-1" style="margin-top: -40px !important;">
      <div class="d-flex flex-column mb-2">
        <div name="experiencia-laboral">
          <h5>Técnico en el Área de Sistemas</h5>
          <h6>Corporativo Grupo Ríos</h6>
          <figure>
            <img width="20px" src="../../../assets/img/icon-calendar.svg" alt="calendar">
            <span>Agosto 2021</span> -
            <span>Enero 2022</span>
          </figure>
          <p>
            Descripcion detallada del perfil profesional del usuario. Aqui podra escribir informacion relevante 
            acerca de su carrera quien es, como se desempeña en el area, extras que considere importante mencionar.
          </p>
        </div>
        <div name="proyectos">
          <h4>Proyectos</h4>
          <h5>Portfolio Web Candido</h5>
          <figure>
            <img width="20px" src="../../../assets/img/icon-calendar.svg" alt="calendar">
            <span>Agosto 2023</span> -
            <span>Diciembre 2023</span>
          </figure>
          <p>
            Aqui voy a mencionar algunos detalles de mis proyectos personales que he realizado, 
            incluso que habilidades logre obtener o hacer mención las personas que colaborarón conmigo 
            en el proyecto. Y mas detalles....
          </p>
        </div>
      </div>
    </article>
    <app-experiencia-form></app-experiencia-form>
  </article>
</article>

