<header class="d-flex justify-content-center pt-3 mb-5">
  <h1 class="text-center">Experiencia</h1>
</header>
<article class="d-flex justify-content-center">
  <article class="w-100 rounded px-3 p-lg-4 module">
    <header class="d-flex justify-content-end">
      <!-- Button trigger modal -->
      <button type="button" class="btn icon-edit" data-bs-toggle="modal" data-bs-target="#modalExperiencia">
        <img src="../../../assets/img/icon-edit.svg" alt="icon-edit">
      </button>
    </header>
    <div class="main-module" style="height: 100px; margin-top: -40px;">
      aqui va ir info
    </div>
    <app-experiencia-form></app-experiencia-form>
  </article>
</article>

