<form class="d-flex" [formGroup]="formSkill" (ngSubmit)="save()">
    <div class="mb-3">
        <input class="form-control form-control-sm" type="text" style="height: 40px;" 
            placeholder="Agregar habilidad" formControlName="talents"
            [class.is-invalid]="campoNoValido('talents')">
        <small *ngIf="campoNoValido('talents')" class="invalid-feedback">
            Ingresa un Skill válido
        </small>
    </div>
    <div class="ms-3">
      <button class="btn btn-primary " type="submit" >Agregar</button>
    </div>  
</form>
